*{
  margin: 0;
  padding: 0;
  list-style:none;
  
}
.clearfix:after {
content: "\0020";
display: block;
height: 0;
clear: both;
}
.clearfix {
zoom: 1;
}
.box{
  background-color: #fff;

}
.box>div {
  width: 100%;

}
.box>div:nth-of-type(4){
  background-color: #F3F5F9;
}
.box>div:nth-of-type(2){
  position: relative;
}
.linear{
FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#b8c4cb,endColorStr=red); /*IE 6 7 8*/
background: -ms-linear-gradient(top, #fff,  #0000ff);        /* IE 10 */
background:-moz-linear-gradient(top,#b8c4cb,#f6f6f8);/*火狐*/
background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#b8c4cb), to(#f6f6f8));/*谷歌*/
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#0000ff));      /* Safari 4-5, Chrome 1-9*/
background: -webkit-linear-gradient(left, #FFCD00, #FFE742);   /*Safari5.1 Chrome 10+*/
background: -o-linear-gradient(left, #FFCD00, #FFE742);  /*Opera 11.10+*/
}
.yellow{
  width:60%;
  height:732px;
  background-color: #FFD62E;
position: absolute;
  top:0;
  right:0;
  z-index: 1;
}
.main-content{
   width: 1366px;
   margin: 0 auto;
   height: 732px;

}

p,h4{
  text-align: center;
  font-size: 28px;
  color: #001111;
  position: relative;
}
p{
  color: #343F45 ;
}
p>a,h4>a{
  background-color: #FFCD00;
  height: 15px;
  position:absolute;
 right: 0;
 bottom: 0;
  width: 123px;
  z-index: -1;
}
.dao{
    width: 171px;
    right: 555px;
}
.ji{
  width: 115px;
  right: 569px;

}
.liao{
  width: 225px;
  right: 500px;

}
.yi{
   margin-top: 118px;
}
 h1{
   font-size: 75px;
   color: #111;
   font-family: MicrosoftYaHei;
 }
/*header*/
.box .go{
  position: fixed;
  top: 227px;
  right: 300px;
  z-index: 44;
  display: none;
}

.header{
   /*background-color: #eee;*/
   height: 94px;
   position: absolute;
  z-index: 33;
}
.header div,.footer>div{
  width: 1366px;
  margin: 0 auto;
}
.header img{
  width: 120px;
  height: 60px;


  margin-top: 17px;
}
.header button{
  width: 170px;height: 45px;

  float: right;
  border: none;
  background-color: #fff;
  border-radius: 5px;

  text-align: center;
  line-height: 45px;

  font-family:MicrosoftYaHei;
  font-size: 18px;
  color: #333;
  margin-top: 17px;   
}

/*新增*/
button:hover{ 
   box-shadow:0px 8px 35px 2px #fdbb09;
    cursor:pointer;
}


.fist{
  position: relative;
  z-index: 2;
  background:#fff url(../image/banner1.png) 110% 100%  no-repeat;
}
.fist>div:nth-of-type(1){
  float: left;
  margin-top:266px;
}
.fist div:nth-of-type(1) p{
  text-align: left;
}
.fist>div:nth-of-type(2){
  float: right;
}

/*修改*/
.fist>div .banner{
  margin-top: 70px;
    width:619px;
    height:651px;
  
}
.fist .small{
  position: absolute;
  left: 50%;
  bottom: 0;
}
.pic>div{
  float: left;
   margin-top: 60px;
   width: 170px;
   height: 50px;
   background: url(../image/anniu.png) 100% 100% no-repeat;
   z-index: 11;
   cursor:pointer;
}
.pic>div:nth-of-type(2){
  margin-left: 30px;
}
.pic>div img{
  margin-left: 20px;
  margin-top: 9px;
  margin-right: 19px;
  width: 27px;
  height: 32px;

  float: left;

}
.pic>div span{
  font-size: 12px !important;
  color: #fff;
   
}
.pic>div span:nth-of-type(2){
  font-size: 18px !important;

}
.pic-code {
  position: relative;
}
.pic-code>img {
    margin-top: 3px;
    position: absolute;
    display: none;

}
.pic-code>img:nth-of-type(1){
  top:0;
  left:0;
}
.pic-code>img:nth-of-type(2){
  top:0;
  left:180px;
}
.none{display: block !important;}
.fist>div>div>img:nth-of-type(2){
  margin-left: 30px;
}

.conent {
  padding-top: 58px;
  position: relative;
  z-index: 11;

}
.conent  .span{
   margin:32px auto;

  display: block;
  font-size: 14px;
  text-align: center;
  color: #343F45;

}


.dwon {
   position: relative;
}
.dwon img{
  margin-top: 40px;
  position: absolute;
  z-index: 1;
}
.dwon img:nth-of-type(1){
  left:174px;

}
.dwon img:nth-of-type(2){

  right:176px;
}
.fours{
  position: relative;
}


.circle{
  width: 235px;
  height: 235px;
  border: 15px solid #F3F5F9;
  border-radius:100%;
  float: none;
  position: absolute;
  top: 60px;
  left: 257px;
  z-index: 1;
}

/*footer*/
.footer{
  background-color: #000;
  width: 100%;
  height: 75px;
  line-height: 75px;
  border-top-left-radius:160px;
  border-top-right-radius:160px;
  color:#8A8A8A;
}
.footer div span{
  float: left;
  margin-left: 40px;
    font-size: 12px;
}

/*修改*/
.footer div span:nth-of-type(3){
  float: right;
}

@media (max-width: 1200px) {
  .yellow{
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1366px)  {
  .yellow{
    display: none;
  }
}
@media (min-width: 1366px) and (max-width: 1680px)  {
  .yellow{
    width: 40%;
  }
}
@media (min-width: 1680px) and (max-width:3000px )  {
  .yellow{
    width: 40%;
  }
}
